<template>
  <div>
    <header class="" role="banner">
      <nav class="navbar navbar-toggleable-sm navbar-inverse">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="~/static/img/ORANGE_LOGO_rgb.jpg"
              alt="Back to homepage"
              title="Go to homepage"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsing-navbarHead"
          >
            <span class="sr-only">toggle navigation</span>
            <span class="icon-menu" />
          </button>
          <div id="collapsing-navbarHead" class="navbar-collapse collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="text-primary">Dev</span>Portal
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Diese">#Diese</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main id="content" class="bd-masthead" role="main">
      <div class="container p-3">
        <h1><span class="text-primary">Dev</span>Portal</h1>
        <p class="lead mb-3">
          DevPortal description : Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.
        </p>

        <div class="row">
          <div class="col-8 p-3">
            <h1 class="display-4">Univers métier</h1>

            <div
              class="mt-3"
              style="
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-between;
              "
            >
              <div
                class="card m-1"
                v-for="card in cards"
                :key="card.title"
                style="max-width: 260px"
              >
                <img
                  class="card-img-top"
                  :src="'.' + card.thumbnail"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <h4 class="card-title">{{ card.title }}</h4>
                  <p class="card-text">
                    <nuxt-content :document="card" />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 p-3">
            <div class="card-columns mt-3">
              <div
                class="card card-inverse"
                style="background-color: #333; border-color: #333; width: 250px"
              >
                <div class="card-block">
                  <h4 class="card-title">Console</h4>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <a href="#" class="btn btn-primary">Gérer mes projets</a>
                </div>
              </div>

              <div
                class="card card-inverse"
                style="background-color: #333; border-color: #333; width: 250px"
              >
                <div class="card-block">
                  <h4 class="card-title">Météo des services</h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action active">
                      ⚠ Service 1
                    </li>
                    <li class="list-group-item list-group-item-action active">
                      ✔ Service 2
                    </li>
                    <li class="list-group-item list-group-item-action active">
                      ✔ Service 3
                    </li>
                    <li class="list-group-item list-group-item-action active">
                      ✔ Service 4
                    </li>
                    <li class="list-group-item list-group-item-action active">
                      ⚠ Service 5
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h1 class="display-4 mt-3">Hébergement & Cloud</h1>

        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">DIOD</h4>
                <div class="list-group list-group-flush">
                  <a
                    href="#"
                    class="
                      list-group-item list-group-item-action
                      flex-column
                      align-items-start
                    "
                  >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">DIOD Live</h5>
                    </div>
                    <p class="mb-1">
                      Donec id elit non mi porta gravida at eget metus. Maecenas
                      sed diam eget risus varius blandit.
                    </p>
                    <small>Donec id elit non mi porta.</small>
                  </a>
                  <a
                    href="#"
                    class="
                      list-group-item list-group-item-action
                      flex-column
                      align-items-start
                    "
                  >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Portail DIOD</h5>
                    </div>
                    <p class="mb-1">
                      Donec id elit non mi porta gravida at eget metus. Maecenas
                      sed diam eget risus varius blandit.
                    </p>
                    <small>Donec id elit non mi porta.</small>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">OASIS</h4>
                <div class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">MetalliKass</h5>
                    <p class="mb-1">
                      Donec id elit non mi porta gravida at eget metus. Maecenas
                      sed diam eget risus varius blandit.
                    </p>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">BRMC</h5>
                    <p class="mb-1">
                      Donec id elit non mi porta gravida at eget metus. Maecenas
                      sed diam eget risus varius blandit.
                    </p>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">Erable</h5>
                    <p class="mb-1">
                      Donec id elit non mi porta gravida at eget metus. Maecenas
                      sed diam eget risus varius blandit.
                    </p>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">Aerofoundry</h5>
                    <p class="mb-1">
                      Donec id elit non mi porta gravida at eget metus. Maecenas
                      sed diam eget risus varius blandit.
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  async asyncData({ $content }) {
    const cards = await $content("card").fetch();
    console.log(cards);
    return {
      cards,
    };
  },
};
</script>
